
<div class="create-record-container">
  <h3>Add new Road Record</h3>

  <button id="add-record-button"  *ngIf="!isAdding" class="" mat-flat-button  (click)="showAddForm()">Add</button>

  <div id="add-record-form" *ngIf="isAdding">
    <mat-card>

      <mat-card-subtitle>Create Road</mat-card-subtitle>
      <mat-form-field class="full-width">
        <mat-label>Surface Type</mat-label>
        <mat-select [(ngModel)]="newRecord.surfaceTypeId" name="surfaceType">
          <mat-option *ngFor="let surfaceType of surfaceTypes | async" [value]="surfaceType.id">
            {{surfaceType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br><br>

      <mat-form-field class="full-width">
        <mat-label>Grade</mat-label>
        <mat-select [(ngModel)]="newRecord.gradeId" name="grade">
          <mat-option *ngFor="let grade of grades | async" [value]="grade.id">
            {{grade.name}} | {{grade.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br> <br>
      <mat-card-actions align="end">
        <button id="add-record-button"  [disabled]="!canSubmit()" mat-stroked-button   (click)="submit()">Submit</button>
      </mat-card-actions>

    </mat-card>

  </div>
</div>

